#secfour {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    height: 900px;
}

html {
    scroll-behavior: smooth;

}

.mid{

border: 1px solid red;
width: 200%;
margin: auto;
}


.offer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;

}


#secfour h1 {
    color: #ff5400;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}




.taglinesecfour {
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: 15px;
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 23px;
}

.webhosting {
    margin-top: 100px;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ff5400;
  
}


.offer p {
    margin-top: 20px;
    color: rgb(255, 251, 251);
    font-size: 17px;
    word-spacing: 3px;
    font-family: 'Mulish', sans-serif;

}

.offer div {

    padding: 11px;


}

.offerone {
    width: 300px;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    top: 200px;
    left: 0%;
    background-color: rgb(27, 27, 27);
    text-align: center;
    height: 650px;
    border-radius: 20px 20px 0px 0px;
    border-top: 2px solid #ff5400;
    transition: 0.4s all ease;
}



.offertwo {
    border-top: 2px solid #ff5400;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    height: 740px;
    text-align: center;
    margin-top: 50px;
    width: 400px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(27, 27, 27);
}

.offertwo span {
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;

}

.offertwo-btn {

    color: white;
    background-color: #ff5400;
    width: 100px;
    margin-left: 35%;
    margin-top: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s all ease;
}


.offertwo-btn:hover {

    transform: scale(1.1);
}



.offerthree {
    width: 300px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    background-color: rgb(27, 27, 27);
    position: absolute;
    top: 200px;
    right: 0%;
    text-align: center;
    height: 650px;
    border-radius: 20px 20px 0px 0px;
    border-top: 2px solid #ff5400;
    box-shadow: 100px 1px 66px black;
    transition: 0.4s all ease;
}




@media screen and (max-width:1120px) {

    .offerone {
        width: 250px;

    }



    .offertwo {


        width: 250px;
        background-color: rgb(88, 88, 88);
    }



    .offerthree {
        width: 250px;

    }


    .offer {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 14px;

    }




    .offertwo-btn {


        margin-left: 28%;

    }

    .offertwo span {
        font-size: 40px;
        font-weight: 600;

    }


}



@media screen and (max-width:850px) {

    .offerone {
        width: 250px;
        display: none;
    }

    #secfour {
        position: relative;
        width: 80%;
        margin: auto;
        margin-top: 80px;
        height: 1100px;
    }

    .offertwo {


        width: 250px;
        background-color: rgb(88, 88, 88);
    }



    .offerthree {
        width: 250px;
        display: none;
    }


    .offer {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 14px;

    }


    .offertwo-btn {


        margin-left: 28%;

    }

    .offertwo span {
        font-size: 40px;
        font-weight: 600;

    }

    .taglinesecfour {
        margin-top: 20px;
        text-align: center;
        color: white;
        font-size: 12px;
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;

    }

    .webhosting {

        font-size: 40px;

    }
    .webhosting {
        margin-top: 100px;
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #ff5400;
    }


    #secfour {
        position: relative;
        width: 90%;
        margin: auto;
        margin-top: 80px;
        height: 900px;
    }



    
}